.menu {
    background-color: white;
    max-width: 1024px;
    margin: 0 auto; /* Centramos horizontalmente la div .menu */
    padding: 10px;
}

.contenidomenu {
    display: flex;
}

.image-container {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
}

.menu-image {
    display: block;
    width: 25px; /* Tamaño de los íconos */
    height: 25px; /* Tamaño de los íconos */
    transition: filter 0.2s ease; /* Añadimos una transición suave para el cambio de color */
}

.grayscale {
    filter: grayscale(100%); /* Convertimos la imagen a escala de grises */
}


/* Si deseas limitar el ancho máximo del menú */
/* .menu {
    max-width: 1024px;
} */



/*.content-div {
    display: none;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 20px;
}*/
